.profile__edit-button {
  padding: 0;
  background-image: url(../../../images/button_edit.svg);
  background-size: 10px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity 0.4s linear;
  align-self: center;
}
      
.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}