.header{
  max-width: 880px;
  padding: 45px 0 41px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 900px) {
  .header {
    padding: 28px 27px 32px;
    max-width: 100%;
  }
}