.elements {
  max-width: 880px;
  margin: 51px auto 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
}

@media (max-width: 900px) {
  .elements {
    margin-top: 36px;
    gap: 20px;
  }
}