.profile__description {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
  }

  @media (max-width: 900px) {
    .profile__description {
      font-size: 14px;
      line-height: 17px;
      max-width: 252px;
      justify-self: center;
    }
  }