.profile__button-avatar {
    margin: 0 ;
    padding: 0 ;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    position: relative;
    cursor: pointer;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.profile__button-avatar::before {
  background-color: black;
  /* transition: visibility 0.5s, opacity 0.5s linear; */
  visibility: hidden;
  opacity: 1;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile__button-avatar:hover::before {
  opacity: 0.8;
  visibility: visible;
  background-image: url('../../../images/button_edit.svg');
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
}